
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.container {
  background: #03081b;
  border: 2px solid #7663b0;
  border-radius: 30px;
  padding: 30px;
  min-width: 510px;
  max-width: 550px;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #A78BFA;
  font-size: 28px;
}


input {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  border: 1px solid #ffffff;
  color: #fff;
  background-color: #1D2141;
  text-align: center;
  margin-bottom: 25px;
  font-size: 16px;
}


.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}


.confirm {
  flex: 1;
  padding: 15px 8px;
  background-color: #A78BFA;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s;
}

.cancel{
  background-color: transparent;
 flex: 1;
  padding: 15px 8px;
  border: 1px solid white;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s;
}

.confirm:hover {
  opacity: 0.9;
}

.cancel:hover {
  background-color: #352b52;
}
