/* SIDEBAR */
.account-sidebar {
  width: 260px;
  background: #01041E;
  border-radius: 16px;
  padding: 24px;
  border: solid 1px #a78bfa61;
}

.account-sidebar h3 {
  margin-bottom: 24px;
  font-size: 18px;
  color: #a78bfa;
}

.account-sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.account-sidebar li {
  padding: 14px 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 300;
  color: #e5e7eb;
}

/* ACTIVE ITEM */
.account-sidebar li.active {
  width: 100%;
  background: #08072a9d;
  border: 1px solid rgba(167, 139, 250, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account-sidebar li:hover {
  background: #08072ac4;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* LOGOUT */
.logout-btn {
  margin-top: 50%;
  width: 100%;
  background: none;
  color: #a78bfa;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.logout-btn:hover {
  opacity: 0.8;
}