 .search-input {
  border: none;
  border-radius: 5px;
}

.search-input:focus {
  border-color: #4a5568;
}

.search-input::placeholder {
  color: #6b7280;
}

.search-hint,
.no-results {
  color: #6b7280;
  font-size: 14px;
  margin-top: 20px;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 30px;
}

.user-card {
  background: #0f112a;
  border: 1px solid #2d2d52;
  border-radius: 12px;
  padding: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: border-color 0.3s ease;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2d2d52;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-name {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.user-id {
  color: #6b7280;
  font-size: 12px;
  margin: 0;
}

.add-btn {
  background: #a78bfa;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  align-self: center;
text-align: center;
justify-content: center;
margin-top: 5px;
}

.add-btn:hover:not(:disabled) {
  background: #9333ea;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #a78bfa;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-letter {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
