
.friend-requests-title {
  color: #a78bfa;
  font-size: 20px;
  margin-bottom: 12px;
}



.friend-requests-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 13px;
  margin-top: 20px;
}

.friend-request-card {
  background: #0f1129;
  border: 1px solid #2d2d52;
  border-radius: 10px;
  padding: 13px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.friend-request-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2a2d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  overflow: hidden;
}

.friend-request-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend-request-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.friend-request-name {
  font-size: 14px;
  font-weight: 500;
}

.friend-request-id {
  font-size: 11px;
  color: #8b8fc4;
}

.friend-request-actions {
padding: 3px;
  display: flex;
  gap: 10px;
}

.accept-btn {
  background: #a78bfa;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
   transition: background-color 0.2s ease;
}

.accept-btn:hover {
background-color: #a78bfa78;

}

.decline-btn {
  background: #01041E;
  border: 1px solid #A78BFA;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius:5px ;
   transition: background-color 0.2s ease;


}

.decline-btn:hover {
 background-color: #060a31;
}

.no-requests {
  color: #8b8fc4;
  font-size: 14px;
}

/* Scrollbar */
.friend-requests-scroll::-webkit-scrollbar {
  width: 8px;
}

.friend-requests-scroll::-webkit-scrollbar-track {
  background: #1f2333;
  border-radius: 12px;
}

.friend-requests-scroll::-webkit-scrollbar-thumb {
  background-color: #a78bfa;
  border-radius: 12px;
  border: 2px solid #1f2333;
}

.friend-requests-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #c4b5fd;
}

/* Firefox */
.friend-requests-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a78bfa #1f2333;
}
